// 2019-07-16
@import url('https://fonts.googleapis.com/css?family=Prompt:400,500,600,700&display=swap');
.inkifi-map-index-index, .inkifi-map-create-index {
	color: black;
	font-stretch: 100%;
	font-weight: 400;
	line-height: 1.4;
	::selection {background-color: #f7da5f; color: #fff; text-shadow: none;}
	* {
		box-sizing: border-box;
		font-family: Prompt, Helvetica, Arial, sans-serif;
		outline: none;
	}
	a {
		text-decoration: none;
		transition: all 0.4s ease;
		&:focus, &:hover {color: #40ba87;}
		svg {transition: all 0.4s ease;}
	}
	@import 'common/_footer';
	@import 'common/_header';
	.column.main {width: 100% !important;}
	.ikf-main > section {@import 'common/_reviews';}
	.page-wrapper {
		border: 0;
		&.ikf-mobile-menu {overflow: hidden;}
	}
}