// 2019-07-16
@import url('https://fonts.googleapis.com/css?family=Prompt:300,400,500,600,700&display=swap');
.inkifi-map-index-index, .inkifi-map-create-index {
	color: black;
	font-size: 16px;
	// 2019-07-23
	// The latest Chrome still does not support `font-size-adjust`,
	// so I apply `-webkit-text-size-adjust` to it.
	font-size-adjust: auto; -ms-text-size-adjust: auto; -webkit-text-size-adjust: auto;
	font-stretch: 100%;
	font-weight: 400;
	line-height: 1.4;
	::selection {background-color: #f7da5f; color: #fff; text-shadow: none;}
	* {
		box-sizing: border-box;
		font-family: Prompt, Helvetica, Arial, sans-serif;
		outline: none;
	}
	a {
		color: black;
		text-decoration: none;
		transition: all 0.4s ease;
		&:focus, &:hover {color: #40ba87;}
		svg {transition: all 0.4s ease;}
	}
	button {
		background-color: transparent;
		border: none;
		box-shadow: none;
		cursor: pointer;
		padding: 0;
	}
	input {
		background-clip: border-box;
		font-family: Arial;
		height: auto;
		line-height: normal;
	}
	@import 'common/_footer';
	@import 'common/_header';
	.column.main {width: 100% !important;}
	.ikf-main > section {@import 'common/_reviews';}
	.page-wrapper {
		border: 0;
		&.ikf-mobile-menu {overflow: hidden;}
	}
}