// 2019-06-18
@import url('https://fonts.googleapis.com/css?family=Prompt:400,600,700&display=swap');
.inkifi-map-index-index .column.main {width: 100% !important;}
.inkifi-map {
	* {color: black; font-family: Prompt, Helvetica, Arial, sans-serif;}
	> section {
		@import 'index/_section-1';
		@import 'index/_section-2';
		&:nth-child(3) {background-color: yellow;}
	}
}