// 2019-06-18
@import url('https://fonts.googleapis.com/css?family=Prompt:400,700&display=swap');
.inkifi-map {
	* {font-family: Prompt, Helvetica, Arial, sans-serif;}
	> section {
		&:nth-child(1) {
			background-color: yellow;
			h1 {
				font-size: 48px;
				@media (min-width: 576px) {font-size: 68px;}
				@media (min-width: 1025px) {font-size: 108px;}
			}
		}
		&:nth-child(2) {background-color: rgba(230, 234, 238, 0.4);}
		&:nth-child(3) {background-color: yellow;}
	}
}