// 2019-08-08
> .ikf-sidebar-sticky {
	bottom: 0; position: sticky; z-index: 5;
	@media (min-width: 768px) and (max-width: 1024px) {background-color: #fff;}
	@import 'sticky/_button';
	@import 'sticky/_form';
}