// 2019-08-04
> .ikf-map-1 {
	border: 10px solid transparent;
    background-color: #ffffff;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    width: 240px;
	@media (min-width: 576px) {width: 320px;}
	@media (min-width: 1025px) {width: 480px;}
	&.ikf-ratio-2x3 {height: 123vw; max-height: 720px; max-width: 480px; width: 82vw;}
	&.ikf-ratio-3x4 {height: 104vw; max-height: 640px; max-width: 480px; width: 78vw;}
	&.ikf-ratio-5x7 {height: 112vw; max-height: 672px; max-width: 480px; width: 80vw;}
	&.ikf-ratio-7x10 {height: 120vw; max-height: 700px; max-width: 490px; width: 84vw;}
	&.landscape {
		width: 100%;
		@media (min-width: 576px) {width: 480px;}
		@media (min-width: 1025px) {max-width: 80%; width: 720px;}
		&.ikf-ratio-2x3 {height: 63vw; max-height: 480px; max-width: 640px; width: 84vw;}
		&.ikf-ratio-3x4 {height: 63vw; max-height: 480px; max-width: 640px; width: 84vw;}
		&.ikf-ratio-5x7 {height: 60vw; max-height: 480px; max-width: 672px; width: 84vw;}
		&.ikf-ratio-7x10 {height: 63vw; max-height: 490px; max-width: 700px; width: 90vw;}
	}
	> .ikf-pencil {
		background: transparent url('../Inkifi_Map/create/i/pencil.png') center no-repeat;
		// 2019-08-05
		// `background-size` should be after the `background` property.
		// It seems that the Oyejorge Less compiler does not support the `center / contain` syntax
		// https://developer.mozilla.org/en-US/docs/Web/CSS/background#Formal_syntax
		// https://stackoverflow.com/a/17093530
		background-size: contain;
		display: none;
		height: 206px;
		left: calc(100% + 18px);
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		width: 16px;
		@media (min-width: 1025px) {display: block;}
		&.ikf-ratio-2x3 {transform: matrix(0.96, 0, 0, 0.96, 0, -103);}
		&.ikf-ratio-3x4 {transform: matrix(1.45, 0, 0, 1.45, 0, -103);}
		&.ikf-ratio-5x7 {transform: matrix(0.85, 0, 0, 0.85, 0, -103);}
		&.ikf-ratio-7x10 {transform: matrix(0.65, 0, 0, 0.65, 0, -103);}
		&.landscape {
			&.ikf-ratio-2x3 {transform: matrix(0, -0.96, 0.96, 0, 0, -103);}
			&.ikf-ratio-3x4 {transform: matrix(0, -1.45, 1.45, 0, 0, -103);}
			&.ikf-ratio-5x7 {transform: matrix(0, -0.85, 0.85, 0, 0, -103);}
			&.ikf-ratio-7x10 {transform: matrix(0, -0.65, 0.65, 0, 0, -103);}
		}
	}
	> .ikf-map-2 {
		@media (min-width: 576px) {}
		@media (min-width: 1025px) {}
		@media (min-width: 1280px) {}
		> .ikf-map-3 {
			@media (min-width: 576px) {}
			@media (min-width: 1025px) {}
			@media (min-width: 1280px) {}
			> .ikf-map-4 {
				@media (min-width: 576px) {}
				@media (min-width: 1025px) {}
				@media (min-width: 1280px) {}
				> .ikf-map-5 {
					@media (min-width: 576px) {}
					@media (min-width: 1025px) {}
					@media (min-width: 1280px) {}
					> .ikf-map-6 {
						@media (min-width: 576px) {}
						@media (min-width: 1025px) {}
						@media (min-width: 1280px) {}
					}
				}
			}
		}
	}
}