// 2019-07-20
.ikf-header {
	align-items: center;
	display: flex;
	flex-shrink: 0;
	padding: 8px;
	position: relative;
	z-index: 5;
	.ikf-animation {
		@keyframes headerAnimation {
			0% {opacity: 0; transform: translate(0, -100%);}
			100% {opacity: 1; transform: translate(0, 0);}
		}
		@media (min-width: 1025px) {
			animation-duration: 1s;
			animation-fill-mode: both;
			animation-name: headerAnimation;
		}
	}
	> .ikf-logo {
		padding-right: 12px; position: relative; z-index: 15;
		> a {
			align-items: center;
			color: #000000;
			display: flex;
			font-size: 16px;
			font-weight: 500;
			line-height: 1;
			width: 92px;
			> figure {flex-shrink: 0; font-size: 32px; height: 32px; margin-right: 8px;}
		}
	}
	> .ikf-menu {
		padding-left: 12px;
		padding-right: 12px;
		> div {
			display: flex;
			flex-direction: column;
			flex-shrink: 0;
			position: relative;
			z-index: 15;
			@media (min-width: 1025px) {align-items: center; flex-direction: row;}
			> a {
				font-size: 36px; font-weight: 300; margin-bottom: 23px; margin-right: 0;
				@media (min-width: 1025px) {
					font-size: 14px; font-weight: 400; margin-bottom: 0; margin-right: 25px;
				}
			}
		}
	}
	> .ikf-right {
		align-items: center;
		display: flex;
		margin-left: auto;
		padding-left: 12px;
		position: relative;
		> .ikf-burger {}
		> a.ikf-cart {
			position: relative;
			font-size: 14px;
			line-height: 1;
			font-weight: 600;
			margin-right: 24px;
			> figure {display: inline-block; font-size: 21px; height: 21px; margin-right: 11px;}
			> span.ikf-amount {display: inline-block; vertical-align: super;}
			> span.ikf-qty {
				align-items: center;
				background-color: #623fc9;
				border: 2px solid #ffffff;
				color: #ffffff;
				display: flex;
				font-size: 10px;
				height: 15px;
				justify-content: center;
				left: 11px;
				min-width: 15px;
				position: absolute;
				top: -3px;
				transition-delay: .1s;
				transition: all 0.4s ease;
			}
		}
		> .ikf-create {
			display: none;
			@keyframes bounceInDown {
				0% {transform: translate3d(0, -10px, 0);}
				60% {transform: translate3d(0, 0px, 0);}
				75% {transform: translate3d(0, 0px, 0);}
				90% {transform: translate3d(0, -2px, 0);}
				to {transform: translate3d(0, -2px, 0);}
			}
			@keyframes bounceUp {
				0% {transform: translate3d(0, 0px, 0);}
				60% {transform: translate3d(0, -12px, 0);}
				75% {transform: translate3d(0, -12px, 0);}
				90% {transform: translate3d(0, -10px, 0);}
				to {transform: translate3d(0, -10px, 0);}
			}
			@keyframes buttonCorner {
				0% {opacity: 0; transform: translate(0, -100%);}
				80% {opacity: 1; transform: translate(0, 2px);}
				100% {transform: translate(0, 0%);}
			}
			@media (min-width: 1025px) {
				animation-duration: .6s;
				animation-fill-mode: both;
				animation-name: buttonCorner;
				display: block;
				height: 40px;
				margin-top: -9px;
			}
			> a {
				animation-duration: .4s;
				animation-fill-mode: both;
				animation-name: bounceUp;
				background-image: linear-gradient(
					-45deg
					,rgba(255, 255, 255, 0) 8px
					,rgba(255, 255, 255, 0)
					,#f7da5f 0
				);
				display: inline-block;
				font-size: 14px;
				font-weight: 600;
				padding: 25px 17px 5px;
				position: relative;
				transition: all 0.4s ease;
				&:focus, &:hover {color: #000000; animation-name: bounceInDown;}
				&:before {
					background:
						transparent
						url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMAMyAmEMbRhF4AAAAnSURBVHjaTcaxDQAgEAAhXt1/ZhsTjwrOnmc582/ner1er9fr9foLKOsAZAuAMFsAAAAASUVORK5CYII=)
						center no-repeat
					;
					bottom: 0;
					content: '';
					height: 12px;
					position: absolute;
					right: 0;
					width: 12px;
				}
			}
		}
	}
}