// 2019-08-08
> div {
	background-color: #ffffff; display: none;
	@media screen and (max-width: 1024px) {
		display: block;
		padding: 0 18px 18px;
		position: relative;
		&:before {
			background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
			bottom: 40px;
			content: '';
			display: block;
			height: 30px;
			left: 0;
			position: absolute;
			right: 0;
			width: 100%;
		}
		> div {
			align-items: center; display: flex;
			> a {
				cursor: pointer;
				flex: 1;
				font-size: 14px;
				font-weight: 600;
				padding: 0 5px 5px;				
				position: relative;
				text-align: center;
				&:focus:after {
					background-color: #40ba87;
					content: '';
					display: block;
					height: 2px;
					left: 0;
					margin: 0 auto 0;
					position: absolute;
					right: 0;
					top: 100%;
					width: 12px;
				}
			}
		}
	}
}