// 2019-07-21
> .ikf-right {
	align-items: center;
	display: flex;
	margin-left: auto;
	padding-left: 12px;
	position: relative;
	> .ikf-burger {
		width: 48px;
		@media (min-width: 1025px) {display: none;}
		> a {
			align-items: center;
			border-radius: 38px;
			display: flex;
			height: 72px;
			justify-content: center;
			position: absolute;
			right: -20px;
			top: -25px;
			transition-delay: .3s;
			transition: all 0.7s ease;
			width: 72px;
			&:after {
				background-color: #ffffff;
				border-radius: 50%;
				bottom: 0;
				content: '';
				height: 0;
				left: 0;
				margin: auto;
				position: absolute;
				right: 0;
				top: 0;
				transform: scale(0);
				transition: all 0.7s ease;
				width: 0;
				z-index: -1;
			}
			&:before {
				background-color: #f7da5f;
				border-radius: 50%;
				content: '';
				height: 100%;
				position: absolute;
				right: 0;
				top: 0;
				transition: all 0.7s cubic-bezier(0.405, 0, 0.165, 1);
				width: 100%;
				z-index: -1;
			}
			&.ikf-active {
				&:after {
					height: 74px;
					transform: scale(1);
					transition-delay: .3s;
					width: 74px;
				}
				&:before {
					height: 100vh;
					transform: scale(5);
					transition-duration: .3s;
					width: 100vh;
				}
			}
			> span {
				background-color: #000000;
				height: 2px;
				position: relative;
				right: 4px;
				top: 1px;
				transition: all 0.7s ease;
				width: 24px;
				&:after, &:before {
					background-color: #000000;
					content: '';
					display: block;
					height: 2px;
					position: absolute;
					transition: all 0.3s ease;
					width: 12px;
				}
				&:after {bottom: -8px; left: 0;}
				&:before {right: 0; top: -8px;}
			}
		}
	}
	> a.ikf-cart {
		position: relative;
		font-size: 14px;
		line-height: 1;
		font-weight: 600;
		margin-right: 24px;
		> figure {display: inline-block; font-size: 21px; height: 21px; margin-right: 11px;}
		> span.ikf-amount {display: inline-block; vertical-align: super;}
		> span.ikf-qty {
			align-items: center;
			background-color: #623fc9;
			border: 2px solid #ffffff;
			color: #ffffff;
			display: flex;
			font-size: 10px;
			height: 15px;
			justify-content: center;
			left: 11px;
			min-width: 15px;
			position: absolute;
			top: -3px;
			transition-delay: .1s;
			transition: all 0.4s ease;
		}
	}
	> .ikf-create {
		display: none;
		@keyframes bounceInDown {
			0% {transform: translate3d(0, -10px, 0);}
			60% {transform: translate3d(0, 0px, 0);}
			75% {transform: translate3d(0, 0px, 0);}
			90% {transform: translate3d(0, -2px, 0);}
			to {transform: translate3d(0, -2px, 0);}
		}
		@keyframes bounceUp {
			0% {transform: translate3d(0, 0px, 0);}
			60% {transform: translate3d(0, -12px, 0);}
			75% {transform: translate3d(0, -12px, 0);}
			90% {transform: translate3d(0, -10px, 0);}
			to {transform: translate3d(0, -10px, 0);}
		}
		@keyframes buttonCorner {
			0% {opacity: 0; transform: translate(0, -100%);}
			80% {opacity: 1; transform: translate(0, 2px);}
			100% {transform: translate(0, 0%);}
		}
		@media (min-width: 1025px) {
			animation-duration: .6s;
			animation-fill-mode: both;
			animation-name: buttonCorner;
			display: block;
			height: 40px;
			margin-top: -9px;
		}
		> a {
			animation-duration: .4s;
			animation-fill-mode: both;
			animation-name: bounceUp;
			background-image: linear-gradient(
				-45deg
				,rgba(255, 255, 255, 0) 8px
				,rgba(255, 255, 255, 0)
				,#f7da5f 0
			);
			display: inline-block;
			font-size: 14px;
			font-weight: 600;
			padding: 25px 17px 5px;
			position: relative;
			transition: all 0.4s ease;
			&:focus, &:hover {color: #000000; animation-name: bounceInDown;}
			&:before {
				background:
					transparent
					url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMAMyAmEMbRhF4AAAAnSURBVHjaTcaxDQAgEAAhXt1/ZhsTjwrOnmc582/ner1er9fr9foLKOsAZAuAMFsAAAAASUVORK5CYII=)
					center no-repeat
				;
				bottom: 0;
				content: '';
				height: 12px;
				position: absolute;
				right: 0;
				width: 12px;
			}
		}
	}
}